################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/DOCSMarshal/v14
/.vs
/DOCSMarshal.Entities/bin
/DOCSMarshal.Entities/obj
/DOCSMarshal.Interfaces/bin
/DOCSMarshal.Interfaces/obj
/DOCSMarshal.MVVM/bin
/DOCSMarshal.MVVM/obj
/DOCSMarshal.Orchestrator/bin
/DOCSMarshal.Orchestrator/obj
