################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/DOCSMarshal/v14
/.vs
/DOCSMarshal.Entities/bin
/DOCSMarshal.Entities/obj
/DOCSMarshal.Interfaces/bin
/DOCSMarshal.Interfaces/obj
/DOCSMarshal.MVVM/bin
/DOCSMarshal.MVVM/obj
/DOCSMarshal.Orchestrator/bin
/DOCSMarshal.Orchestrator/obj
/DocsMarshal.Connectors.Orchestrator/bin
/DocsMarshal.Connectors.Orchestrator/obj
/DocsMarshal.Connectors.MVVM/bin
/DocsMarshal.Connectors.MVVM/obj
/DocsMarshal.Connectors.Interfaces/bin
/DocsMarshal.Connectors.Interfaces/obj
/DocsMarshal.Connectors.Entities/bin
/DocsMarshal.Connectors.Entities/obj
/DocsMarshal.Connectors.Entities/project.lock.json
/DocsMarshal.Connectors.Interfaces/project.lock.json
/DocsMarshal.Connectors.MVVM/project.lock.json
/DocsMarshal.Connectors.Orchestrator/project.lock.json
/DocsMarshal.Connectors.Orchestrator/DocsMarshal.Connectors.Orchestrator.nuget.props
/DocsMarshal.Connectors.Entities/.vs/DocsMarshal.Connectors.Entities.csproj.dtbcache.json
/DocsMarshal.Connectors.Interfaces/.vs/DocsMarshal.Connectors.Interfaces.csproj.dtbcache.json
/DocsMarshal.Connectors.MVVM/.vs/DocsMarshal.Connectors.MVVM.csproj.dtbcache.json
/DocsMarshal.Connectors.Orchestrator/.vs/DocsMarshal.Connectors.Orchestrator.csproj.dtbcache.json
