################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/DOCSMarshal.Orchestrator/bin/Debug
/DOCSMarshal.Orchestrator/obj/Debug
/DOCSMarshal.Interfaces/bin/Debug
/DOCSMarshal.Interfaces/obj/Debug
/DOCSMarshal.Entities/bin/Debug
/DOCSMarshal.Entities/obj/Debug
/.vs/DOCSMarshal/v14
